@model List<FoodCo.Models.NotificationViewModel>

@{
    Layout = null;
}

<div class="notification-list" id="notification-list">
    @if (Model != null && Model.Any())
    {
        foreach (var notification in Model)
        {
            <div class="notification-card">
                <div class="notification-header">
                    <img src="@notification.SenderProfilePicture" alt="@notification.SenderName" class="UserMediumAvatar" />


                    <div class="notification-content">


                        <p class="notification-date">@notification.Date</p>
                        @if (notification.Type == "chat")
                        {
                            <p><strong>@@@notification.Sender</strong> vous a envoyé un message.</p>
                        }
                        else if(notification.Type == "mention")
                        {
                            <p><strong>@@@notification.Sender</strong> vous a mentionné.</p>
                        }
                       
                    </div>

                </div>
            </div>
        }
    }
    else
    {
        <p class="no-notifications">Aucune notifications</p>
    }
</div>
