@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}

<header class="main-header">
    <button class="icon-button icon fa fa-arrow-left" onclick="window.history.back()"><span class="icon"></span></button>
    <div class="main-header-content">
        <h1 class="section-title">@ViewBag.Title</h1>
    </div>
    <button class="icon-button u-margin-start-auto" aria-label="Top foodcos on"><span class="icon">✨</span></button>
</header>

<div class="notification-list-container" id="notification-list-container">
    <!---Partial Refresh for User Notificationss-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        let notificationContainer = new PartialRefresh("@Url.Action("_PartialNotifications")", "notification-list-container", 30);
    </script>
}