html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.home-container {
    height: 100vh;
    display: contents;
}

.preview-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.img_preview {
    max-width: 28em;
    max-height: auto;
    border-radius: 15px;
}
/* #preview2 id pour l'image de centre, test */
#preview2 {
    margin-left: 15%;
}

.img-container {
    max-width: 50vh;
}

.btn-start {
    margin-top: 2rem;
    margin-left: 5rem;
}


.slogan {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 5rem;
    font-family: "Inter";
}

#slogan2 {
    margin-left: 5rem;
}

.btn-txt-menu {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Inter';
    margin-left: 1rem;
}

@media only screen and (max-width: 1196px) {
    body {
        background-image: url('/Content/images/mobile_home_preview2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);
    }

    .img-container {
        display: none;
    }

    .btn-start {
        margin-top: 2rem;
        margin-left: 2rem;
    }

        .btn-start div {
            font-family: 'Inter';
            font-size: 2rem;
        }

    .slogan-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    .slogan {
        font-weight: 600;
        font-size: 2rem;
        margin-left: 4rem;
    }

    #slogan2 {
        margin-left: 3.8rem;
    }
}

@media only screen and (max-width: 1196px) {

    .btn-start {
        font-family: 'Inter';
        font-size: 2rem;
    }
}
