@{
    ViewBag.Title = "Home";
}
<div class="home-container">
    <div class="preview-container">
        <div class="img-container">
            <img class="img_preview" id="preview1" src="~/Content/images/home_preview.jpg" />
        </div>

        <div class="slogan-container" style="display: flex; flex-direction: row; gap: 10%;">
            <div class="img-container">
                <img class="img_preview" id="preview2" src="~/Content/images/home_preview2.jpg" />
            </div>
            <div style="display: flex; flex-direction: column;">
                <div class="slogan">Des recettes à partager,</div>
                <div class="slogan" id="slogan2">des moments à savourer</div>
                <button class="btn-global main-color btn-start" onclick="window.location.href='@Url.Action("Register", "Accounts", new { area = "" })'">
                    <div class="btn-txt-menu">Commencez dès maintenant!</div>
                </button>
            </div>
        </div>

        <div class="img-container">
            <img class="img_preview" src="~/Content/images/home_preview3.jpg" />
        </div>

    </div>
</div>

@section Scripts{
    @Styles.Render("~/Content/home/index.css")
}