.reset-container {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /*    border: solid 1px #DCDCDC;*/
    border-radius: 15px;
    background-color: white;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: -1000;
}

.title-text {
    text-align: center;
    font-weight: 300;
    margin-bottom: 10%;
    max-inline-size: 300px;
}

.text {
    margin: unset;
    text-align: center;
    font-weight: 300;
    max-inline-size: 300px;
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    max-inline-size: 300px;
}

.form-control {
    border-radius: 10px;
    text-align: center;
    margin-bottom: 7%;
    color: #737373;
    background-color: #DCDCDC;
    stroke: transparent;
    border: none;
    padding-top: 5%;
    padding-bottom: 5%;
}

.submit {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    font-weight: 700;
    background-color: #FF9A7A;
}

    .submit:hover {
        background-color: #FF9A7A;
        color: white;
        transform: scale(1.05)
    }

.text-danger {
    padding-top: 2%;
    color: #950000;
    max-inline-size: 250px;
}

.confirm {
    background-color: #d9eee1;
    text-align: center;
    padding: 4%;
    margin-bottom: 10%;
    border-radius: 10px;
}

.btn-reset {
    padding-top: 8%;
    padding-bottom: 8%;
}

@media only screen and (max-width: 728px) {
    .reset-container {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        padding: 40px;
        /*    border: solid 1px #DCDCDC;*/
        border-radius: 15px;
        background-color: white;
        border: 1px solid #D1D1D1;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: -1000;
    }
}