@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LoggedInLayout.cshtml";  // Layout for logged-in users
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";  // Layout for anonymous users
    }
}
<div style="padding: 20px;">
    <h2>Erreur 403 - AccËs interdit</h2>
    <p>Vous n'avez pas la permission d'accÈder ‡ cette ressource. Si vous pensez qu'il s'agit d'une erreur, veuillez contacter l'administrateur du site.</p>
</div>