@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LoggedInLayout.cshtml";  // Layout for logged-in users
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";  // Layout for anonymous users
    }
}
<h2>Une erreur est survenue</h2>
<p>Une erreur inattendue s'est produite. Nous nous excusons pour le dťsagrťment. Veuillez rťessayer plus tard.</p>
